/**External CSS Stylesheet**/

body{
    background-image:url("../images/crystalbackground.jpg")
}

/* Container */
.jumbotron {
    background-color: #ffffff;
    border-bottom: 8px solid #4aaaa5;
}

/* Headings */
#main-header {
    font-size: 48px;
    text-align: center;
    color: #4aaaa5;
}

/* Paragraph */
.instructioncontainer {
    background-color: #ffffff;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: .3rem;
}
p{
    margin: 0 0 10px
}

.randomcontainer {
    background-color: #ffffff;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: .3rem;
}

h2{
    font-size: 30px;
    margin: 0 0 10px;
}

.wlcontainer {
    background-color: #ffffff;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: .3rem;
}

h3{
    font-size: 26px;
    margin: 0 0 10px;
}

h4{
    font-size: 22px;
    padding: 10px;
}

/* Crystal images */
.crystalcontainer {
    background-color: #ffffff;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: .3rem;
}

.crystal-img {
	height: 150px;
	width: 150px;
}

.scorecontainer {
    background-color: #ffffff;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: .3rem;
}

footer {
    width: auto;
    margin-top: 20px;
    padding: 20px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
}